<%
  const myValue = 'Test';
  const title = 'h'
%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./head') %>
<body>
  <div class="main">
    <p><%= myValue %></p>
    <img src="./assets/img/IMG_20211214_165411.jpg" alt="">
  </div>
  <script src="<%= mix('./assets/js/main.js') %>"></script>
</body>
</html>